server:
  port: 8009
spring:
  application:
    name: interview-server

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/x_interview?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: XCH627

  #mongodb数据源配置
  data:
    mongodb:
      #      uri: mongodb://127.0.0.1:27017/xchdb
      host: 127.0.0.1
      port: 27017
      database: xinterview

#      redis
  redis:
    host: 127.0.0.1
    port: 6379
    password: 123456

#mybatis
mybatis:
  type-aliases-package: com.xch.interview.pojo
  mapper-locations: classpath:mapper/*.xml



#七牛云oos
qiniu:
  accessKey: h9djqWGEP9u9HvkDgE-Act8dPDkm2VDMD355heA1
  secretKey: IMLqD0v5GhAE4nt15vrWcwJFt1hjb-yVEie31KLM
  bucket: xchinterview
  pathPrefix: ruby0rtat.hb-bkt.clouddn.com
  zone: auto
