<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xch.interview.mapper.EightTopicMapper">

        <resultMap id="ResultMap" type="EightTopic">
            <id property="topicId" column="topic_id" javaType="String" />
            <result property="memberId" column="member_id"/>
            <result property="topicText" column="topic_text"/>
            <result property="isOpen" column="is_open"/>
        </resultMap>

        <select id="getAllMeightTopic" resultMap="ResultMap" parameterType="String" >
            select * from eighttopic  where  member_id = #{memberId} and is_open = 1;
        </select>

         <select id="getOneMeightTopic" parameterType="String" resultMap="ResultMap">
              select * from eighttopic  where  member_id = #{memberId} limit 1;
         </select>

         <select id="getEightTopic" resultMap="ResultMap">
              select * from eighttopic  where  member_id = #{memberId} limit #{PageNum},10;
         </select>

         <select id="getPageSize" parameterType="String" resultType="int">
              select count(*) from eighttopic  where  member_id = #{memberId};
         </select>

        <update id="changeTopicOpen" >
              update eighttopic set is_open = #{isOpen} where topic_id = #{topicId};
        </update>

        <delete id="DeleteEightTopic" parameterType="String">
            delete from eighttopic where topic_id = #{topicId};
        </delete>

         <update id="SaveEditEightTitle" parameterType="EightTopic">
              update eighttopic set topic_text = #{topicText} where topic_id = #{topicId};
        </update>

        <insert id="SaveNewTopic" parameterType="EightTopic">
             insert into eighttopic(topic_id,member_id,topic_text,is_open) values (#{topicId},#{memberId},#{topicText},#{isOpen});
        </insert>



</mapper>