<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xch.interview.mapper.LoginMapper">


    <resultMap id="ResultMap" type="logUser">
        <id property="phone_number" column="phone_number" />
        <result property="password" column="password"/>
        <result property="user_id" column="user_id"/>
        <result property="net_name" column="net_name"/>
        <result property="head_sculpture" column="head_sculpture"/>
    </resultMap>

    <select id="passwordLogin" parameterType="map" resultType="logUser">
              select phone_number,user_id,net_name,head_sculpture from user where phone_number = #{phoneNumber} and password = #{password};
          </select>

</mapper>