<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xch.interview.mapper.skillMapper">

   <resultMap id="ResultMap" type="skill">
       <id property="skillId" column="skill_id" />
       <result property="skillName" column="skill_name"/>
       <result property="isActive" column="is_active"/>
   </resultMap>

    <select id="getAllSkill" resultMap="ResultMap" >
        select * from skill where is_active = 1;
    </select>

    <select id="getAllToSkill" resultMap="ResultMap" >
        select * from skill;
    </select>

    <update id="changeSkillIsopem" parameterType="skill" >
         update skill set is_active = #{isActive} where skill_id = #{skillId};
     </update>

    <insert id="addSkill" parameterType="skill">
         insert into skill(skill_id,skill_name,is_active) values (#{skillId},#{skillName},#{isActive});
    </insert>

   <update id="editSkillName" parameterType="skill">
        update skill set skill_name = #{skillName} where skill_id = #{skillId};
   </update>

    <delete id="deleteSkillById" parameterType="String">
         delete from skill where skill_id = #{skillId};
     </delete>

</mapper>